    .logo {
      color: var(--purple);
      font-size: 2rem;
      font-weight: 600;
      margin-top: 1rem;
      margin-bottom: 1rem;;
    }
    
    .menuItem span:first-child {
      font-size: 2.15rem;
    }

    .menuItem span:last-child {
      font-size: 1.25rem;
    }

    .userProfile {
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      margin-left: -3.75rem;
    }

    .userProfile a {
      margin: 1rem;
    }

    .sideBarLeft {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 100vh; /* Garante que o menu não ultrapasse a altura da tela */
      overflow-y: hidden; /* Oculta a rolagem até que o mouse entre */
      scrollbar-width: none; /* Firefox: esconde a barra de rolagem */
      overflow-y: hidden; /* Mude isso */
      height: auto; /* Adicione isso para permitir a expansão */
      max-height: 100vh; /* Ou ajuste conforme necessário */
    }

    /* Webkit (Chrome, Safari) */
    .sideBarLeft::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: 767px) {
      .userProfile {
        margin-top: 1rem;
      }
      .sideBarLeft {
        justify-content: left;
        margin-left: 3rem;
        position: sticky;
      }
    }